
.subrrallar-div{
   padding-top: 20px;
   margin-top: 20px;
}
.subrrallar-div>div{
   
   border: solid 1px #464646;
}
.container-edit{
   background: #1546e7bb;
}
.carusel-edit{
   max-height: 800px
}
.footer{
   background: #325be0;
}
.aling-final{
   color: #464646;
   text-align: right;
}

